<a href="https://colab.research.google.com/github/Intruz01/COVID19_spread_prediction/blob/master/COVID19_spread_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## IMPORT LIBRARIES

import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt

In [0]:
## READ DATA FOR CASES, DEATH and RECOVERIES
# for this prediction I am using data posted and updated by CSSEGISandData on https://github.com/CSSEGISandData

df_confirmed_cases_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_deaths_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_recoveries_raw = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [88]:
df_confirmed_cases_raw.sample(10)

    Province/State Country/Region      Lat  ...  4/16/20  4/17/20  4/18/20
26             NaN        Bolivia -16.2902  ...      441      465      493
102            NaN        Estonia  58.5953  ...     1434     1459     1512
224            NaN        Uruguay -32.5228  ...      502      502      508
104            NaN       Ethiopia   9.1450  ...       92       96      105
130            NaN        Iceland  64.9631  ...     1739     1754     1760
176            NaN           Oman  21.0000  ...     1019     1069     1180
126            NaN          Haiti  18.9712  ...       41       43       44
162            NaN     Montenegro  42.5000  ...      303      303      307
185            NaN          Qatar  25.3548  ...     4103     4663     5008
32             NaN     Cabo Verde  16.5388  ...       56       56       58

[10 rows x 92 columns]

In [89]:
# it's important to have data from yesterday, because the data from today are not complete yet
yesterday = datetime.date.today() - datetime.timedelta(days=1)
month = datetime.date.today().month


def check(dataset, thisdate=yesterday):
	url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_{dataset}_global.csv'
	df = pd.read_csv(url, error_bad_lines=False)
	return df.loc[df['Country/Region'] == 'Poland'][thisdate.strftime('%m/%d/%y').lstrip('0').replace(' 0', ' ')].values[0]


print('Checking current data for day {} for Poland'.format(yesterday.strftime('%m/%d/%y')))
datasets_names_list = ['confirmed', 'deaths', 'recovered'] 
for _ in datasets_names_list:
	print('{}: {}'.format(_, check(_)))

Checking current data for day 04/18/20 for Poland
confirmed: 8742
deaths: 347
recovered: 981

In [0]:
def clean_and_melt_data(df):
  df_cleaned = df.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], value_name='Cases', var_name='Date')
  return df_cleaned.set_index(['Country/Region', 'Province/State', 'Date'])


#clean all datasets
df_confirmed_cases = clean_and_melt_data(df_confirmed_cases_raw)
df_deaths = clean_and_melt_data(df_deaths_raw)
df_recoveries = clean_and_melt_data(df_recoveries_raw)